*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main{
    width: 90%;
    height: 70px;
    background-color: red;
    margin: 20px auto;
}
.style{
    height: 80px;
    width: 90px;
    background-color: black;
    display: flex;
   justify-content: space-between;
    margin: 20px 5%;
    border-radius: 20px;
}

.logo a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(147, 8, 8);

}

.logo{
    padding-top: 20px;
    padding-left: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 25px;
}

.menu{
    padding-top: 15px;
}
li{
    font-size: 20px;
    color: black;
}
.about1{
    border: 5px solid;
    width: 250px;
    height: 400px;
    background-color: bisque;
    align-items: center;
    color: red;
}